@import "tailwindcss";

@theme {
  --color-pae-blue-dark: #001A3F;
  --color-pae-blue-header: #1E3A8A;
  --color-pae-blue-form: #EFF6FF;
  --color-pae-green-button: #166534;
  --color-pae-green-hover: #15803d;
  --color-pae-text-blue: #1E3A8A;
}